{# type=tags,filename=api/endpoint.rs,min_version=0.5.0 #}
{%- import "macros.j2" as m -%}
{%- import "extra.j2" as e -%}
{{ m::do_not_modify() }}
use async_trait::async_trait;
use axum::{body::Body, http::{HeaderValue, Response, StatusCode}, response::IntoResponse, Json, http};
use garde::Validate;
use serde::{
    de::{self, IntoDeserializer},
    Deserialize,
};
use serde_qs::Error;
use std::fmt;
use axum::extract::FromRequestParts;
use axum::http::request::Parts;
