macro_rules! impl_from_result {
    ($t:ty, $e:ty) => {
        impl From<$e> for $t {
            fn from(err: $e) -> Self {
                Self(err)
            }
        }
    };
}

fn deserialized_id_list<'de, D>(deserializer: D) -> Result<Vec<String>, D::Error>
where
    D: de::Deserializer<'de>,
{
    let s = String::deserialize(deserializer)?;
    Ok(s.split(',').map(|s| s.to_string()).collect())
}
